$overlay: #333DDD;

.wrapper {
	width: 100%;
	min-height: 100vh;
  	background-size: cover;
	position: relative;
	z-index: 1;
	background: url("https://images.unsplash.com/photo-1451444635319-e5e247fbb88d?ixlib=rb-0.3.5&q=80&fm=jpg") no-repeat center center fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba($overlay, .8);
		left: 0;
		top: 0;
	}
}

#player {
	position: relative;
	z-index: 2;
	width: 600px;
	height: 150px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	img {
		position: absolute;
		left: 15px;
		top: -25px;
		border-radius: 10px;
	}
	.player-song {
		width: 370px;
		height: 100%;
		margin-left: 230px;
		//background-color: red;

		.title {
			color: #333;
			font-weight: 500;
			font-size: 20px;
			margin-top: 20px;
		}

		.artist {
			font-size: 14px;
			font-weight: 400;
			color: rgba(0,0,0,.5);
		}

		.timestamps {
			width: calc(100% - 15px);
			display: flex;
			justify-content: space-between;
			font-size: 10px;
			color: rgba(0,0,0,.4);
		}

		.actions {
			width: 100%;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;

			.next, .prev {
				cursor: pointer;
                user-select: none;
			}

			i {
				font-size: 32px;
				transform: translateY(2px);
				color: darken(#eee, 20%);
				transition: .1s;

				&:hover {
					color: darken(#eee, 40%);
					transition: .1s;
				}
			}
		}
	}
}

progress[value] {
	-webkit-appearance: none;
	appearance: none;
	width: calc(100% - 15px);
  	height: 6px;
	border-radius: 50px;
	margin-top: 20px;
}

progress[value]::-webkit-progress-bar {
  	background-color: #eee;
	border-radius: 50px;
}

progress[value]::-webkit-progress-value {
 	border-radius: 50px;
   background-color: #333DDD;
}

.play-button {
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  user-select: none;
}

#VolumeIcon {
    cursor: pointer;
    user-select: none;
}

.volumeControl {
    position: absolute;
    left: 77%;
    bottom: (#{50px - 5px});
    width: 40px;
    margin-left: -20px;
    height: 120px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 1px;
    z-index: 88888;
    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: -12px;
        border: 7px solid transparent;
        border-top: 7px solid #f2f2f2;
        left: 50%;
        margin-left: -7px;
    }
    &::after {
        bottom: -14px;
        z-index: -1;
        border-top: 7px solid #ccc;
    }
}

.volume:hover .volumeControl, .volume.active .volumeControl {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  .volumeTrack {
    position: relative;
    display: block;
    width: 3px;
    height: 100px;
    margin: 10px auto;
    background: #ddd;
    border-radius: 3px;
    overflow: hidden;
  }
  .volumeBar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: steelblue;
    height: 50%;
  }
